<?xml version="1.0" encoding="UTF-8"?>
<web-app metadata-complete="true" version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee                       http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>HelloServlet</servlet-name>
        <servlet-class>servlet.HelloServelt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checklogin</servlet-name>
        <servlet-class>servlet.checklogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insertionChefServlet</servlet-name>
        <servlet-class>servlet.insertionChefServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insertionRetourDemande_refaccExServlet</servlet-name>
        <servlet-class>servlet.insertionRetourDemande_refaccExServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeconServlet</servlet-name>
        <servlet-class>servlet.DeconServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insertionJobServlet</servlet-name>
        <servlet-class>servlet.insertionJobServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileUploadServlet</servlet-name>
        <servlet-class>servlet.FileUploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertionMessageAdminServlet</servlet-name>
        <servlet-class>servlet.InsertionMessageAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insertionAnnonce</servlet-name>
        <servlet-class>servlet.insertionAnnonce</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insertionContact</servlet-name>
        <servlet-class>servlet.insertionContact</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insertSexServlet</servlet-name>
        <servlet-class>servlet.insertSexServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insertionComptServlet</servlet-name>
        <servlet-class>servlet.insertionComptServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>informSupplServlet</servlet-name>
        <servlet-class>servlet.informSupplServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>titrePubServlet</servlet-name>
        <servlet-class>servlet.titrePubServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sousTitreServlet</servlet-name>
        <servlet-class>servlet.sousTitreServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insertionTypeConServlet</servlet-name>
        <servlet-class>servlet.insertionTypeConServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insertionEmplServlet</servlet-name>
        <servlet-class>servlet.insertionEmplServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insertionDemandExt</servlet-name>
        <servlet-class>servlet.insertionDemandExt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insertionDemandeurInt</servlet-name>
        <servlet-class>servlet.insertionDemandeurInt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificationEmplServlet</servlet-name>
        <servlet-class>servlet.ModificationEmplServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RechercheNosMetServlet</servlet-name>
        <servlet-class>servlet.RechercheNosMetServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insertionObjet_DemandeIServlet</servlet-name>
        <servlet-class>servlet.insertionObjet_DemandeIServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insertionDemande_accInServlet</servlet-name>
        <servlet-class>servlet.insertionDemande_accInServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insertionDemande_refInServlet</servlet-name>
        <servlet-class>servlet.insertionDemande_refInServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insertionDemande_accExServlet</servlet-name>
        <servlet-class>servlet.insertionDemande_accExServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insertionDemande_refExServlet</servlet-name>
        <servlet-class>servlet.insertionDemande_refExServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insertionContact_extServlet</servlet-name>
        <servlet-class>servlet.insertionContact_extServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insertionContact_intServlet</servlet-name>
        <servlet-class>servlet.insertionContact_intServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>chefs</servlet-name>
        <servlet-class>servlet.Modification.chefs</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>annonce</servlet-name>
        <servlet-class>servlet.Modification.annonces</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>competence</servlet-name>
        <servlet-class>servlet.Modification.competences</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>information_supplementaire</servlet-name>
        <servlet-class>servlet.Modification.information_supplementaire</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>nos_metier</servlet-name>
        <servlet-class>servlet.Modification.nos_metier</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Objet_de_la_demande</servlet-name>
        <servlet-class>servlet.Modification.Objet_de_la_demande</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>type_contrat</servlet-name>
        <servlet-class>servlet.Modification.type_contrat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insertionTravServlet</servlet-name>
        <servlet-class>servlet.insertionTrav</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>retourAnnonce</servlet-name>
        <servlet-class>servlet.retour.retourAnnonce</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sendEmailServlet</servlet-name>
        <servlet-class>sendEmail.sendEmailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>contactEmailServlet</servlet-name>
        <servlet-class>servlet.contactEmailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insertionTest_interneServlet</servlet-name>
        <servlet-class>servlet.insertionTest_interneServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insertionTest_externeServlet</servlet-name>
        <servlet-class>servlet.insertionTest_externeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insertionRetourDemande_accExServlet</servlet-name>
        <servlet-class>servlet.insertionRetourDemande_accExServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>suppressionDemande_accInt</servlet-name>
        <servlet-class>servlet.suppressionDemande_accInt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>suppressionDemandTestExt</servlet-name>
        <servlet-class>servlet.suppressionDemandTestExt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>suppressionExtAccpter</servlet-name>
        <servlet-class>servlet.suppressionExtAccpter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>interne_accept</servlet-name>
        <servlet-class>servlet.Modification.interne_accept</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HelloServlet</servlet-name>
        <url-pattern>/insertion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checklogin</servlet-name>
        <url-pattern>/checklogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeconServlet</servlet-name>
        <url-pattern>/DeconServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insertionJobServlet</servlet-name>
        <url-pattern>/estinsertJob</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileUploadServlet</servlet-name>
        <url-pattern>/FileUploadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertionMessageAdminServlet</servlet-name>
        <url-pattern>/insertionMessage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insertionAnnonce</servlet-name>
        <url-pattern>/insertionAnnonce</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insertionContact</servlet-name>
        <url-pattern>/insertionContactVisit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insertSexServlet</servlet-name>
        <url-pattern>/insertSexServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insertionComptServlet</servlet-name>
        <url-pattern>/insertionCompt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>informSupplServlet</servlet-name>
        <url-pattern>/informSuppl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>titrePubServlet</servlet-name>
        <url-pattern>/titrePub</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sousTitreServlet</servlet-name>
        <url-pattern>/sousTitre</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insertionTypeConServlet</servlet-name>
        <url-pattern>/insertionTypeCon</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insertionChefServlet</servlet-name>
        <url-pattern>/insertionChef</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insertionEmplServlet</servlet-name>
        <url-pattern>/insertionEmpl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insertionDemandExt</servlet-name>
        <url-pattern>/estinsertionDemandExt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insertionDemandeurInt</servlet-name>
        <url-pattern>/estDem_I</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificationEmplServlet</servlet-name>
        <url-pattern>/estModificationEmp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RechercheNosMetServlet</servlet-name>
        <url-pattern>/RechercheNosMet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insertionObjet_DemandeIServlet</servlet-name>
        <url-pattern>/insertionObjet_DemandeI</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insertionDemande_accInServlet</servlet-name>
        <url-pattern>/insertionDemande_accIn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insertionDemande_refInServlet</servlet-name>
        <url-pattern>/insertionDemande_refIn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insertionDemande_accExServlet</servlet-name>
        <url-pattern>/insertionDemande_accEx</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insertionDemande_refExServlet</servlet-name>
        <url-pattern>/insertionDemande_refEx</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insertionContact_extServlet</servlet-name>
        <url-pattern>/insertionContact_ext</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insertionContact_intServlet</servlet-name>
        <url-pattern>/insertionContact_int</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>chefs</servlet-name>
        <url-pattern>/chefs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>annonce</servlet-name>
        <url-pattern>/annonce</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>competence</servlet-name>
        <url-pattern>/competence</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>information_supplementaire</servlet-name>
        <url-pattern>/information_supplementaire</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>nos_metier</servlet-name>
        <url-pattern>/nos_metier</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Objet_de_la_demande</servlet-name>
        <url-pattern>/Objet_de_la_demande</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>type_contrat</servlet-name>
        <url-pattern>/type_contrat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insertionTravServlet</servlet-name>
        <url-pattern>/insertionTrav</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>retourAnnonce</servlet-name>
        <url-pattern>/retourAnnonce</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sendEmailServlet</servlet-name>
        <url-pattern>/sendEmailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>contactEmailServlet</servlet-name>
        <url-pattern>/contactEmailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insertionTest_interneServlet</servlet-name>
        <url-pattern>/insertionTest_interneServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insertionTest_externeServlet</servlet-name>
        <url-pattern>/insertionTest_externeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insertionRetourDemande_accExServlet</servlet-name>
        <url-pattern>/insertionRetourDemande_accExServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>suppressionDemande_accInt</servlet-name>
        <url-pattern>/suppressionDemande_accInt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insertionRetourDemande_refaccExServlet</servlet-name>
        <url-pattern>/insertionRetourDemande_refaccExServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>suppressionDemandTestExt</servlet-name>
        <url-pattern>/suppressionDemandTestExt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>suppressionExtAccpter</servlet-name>
        <url-pattern>/suppressionExtAccpter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>interne_accept</servlet-name>
        <url-pattern>/interne_accept</url-pattern>
    </servlet-mapping>
</web-app>
